<% include layout.ejs %>

<h2><%= course ? "Edit Product" : "Add course" %></h2>
<form action="<%= product ? '/update/' + course._id : '/' %>" method="POST">
  <label>Name:</label>
  <input
    type="text"
    name="name"
    value="<%= course ? course.name : '' %>"
    required
  />

  <label>Price:</label>
  <input
    type="number"
    name="price"
    value="<%= course ? course.price : '' %>"
    required
  />

  <label>Description:</label>
  <textarea name="description">
<%= course ? course.description : '' %></textarea
  >

  <button type="submit"><%= course ? "Update" : "Add" %></button>
</form>
