<% layout('layout') %>

<h2>Product List</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <% products.forEach(product => { %>
  <tr>
    <td><%= product.name %></td>
    <td>$<%= product.price %></td>
    <td><%= product.description %></td>
    <td>
      <a href="/edit/<%= product._id %>">Edit</a>
      <form
        action="/delete/<%= product._id %>"
        method="POST"
        style="display: inline"
      >
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  <% }); %>
</table>
